<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="MDX2JSON.ZPM"><Module>
 <Name>MDX2JSON</Name>
  <Version>2.3.3</Version>
  <Description>RESTful web api for MDX to JSON transformation (plus JSONP and XML/A) for InterSystems Caché. Also provides information about DeepSee objects.</Description>
  <Packaging>module</Packaging>
  <SourcesRoot>./</SourcesRoot> 
  <Resource Name="MDX2JSON.PKG"/> 
  <CSPApplication 
    Path="/MDX2JSON" 
    Url="/MDX2JSON" 
    CookiePath="/MDX2JSON/"
    PasswordAuthEnabled="1"
    UnauthenticatedEnabled="1"
    DispatchClass="MDX2JSON.REST" 
    />
</Module>
</Document></Export>
