[project]
	description = RESTful web api for MDX2JSON transformation (also JSONP and XML/A).
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eduard93
[access "refs/for/refs/*"]
	read = group user/eduard93
	push = group user/eduard93
	label-Code-Review = -2..+2 group user/eduard93
	label-Verified = -1..+1 group user/eduard93
	rebase = group user/eduard93
	removeReviewer = group user/eduard93
	submit = group user/eduard93
[access "refs/heads/*"]
	read = group user/eduard93
	create = group user/eduard93
	push = +force group user/eduard93
	pushMerge = group user/eduard93
[access "refs/tags/*"]
	push = +force group user/eduard93
	pushTag = group user/eduard93
	pushSignedTag = group user/eduard93
